language: php

dist: trusty

php:
  - 7.2
  - 7.3
  - 7.4
  - 8.0

install:
  - travis_retry composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpspec run
  - vendor/bin/phpunit
